body {
  padding: 0;
  margin: 0;
}
.header {
  top: 0;
  position: fixed;
  width: 100%;
  padding: 1rem 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: green;
}

.header-title {
  display: flex;
  justify-content: space-between;
}

.list {
  margin: 0.2rem;
  padding: 1rem;
}

li {
  text-align: center;
  list-style: none;
  margin: 2rem 0;
  box-shadow: 2px 2px 6px 0px rgb(0, 0, 0, 0.4);
}

.list-image {
  width: 100%;
  height: 200px;
}
.list-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title {
  padding: 1rem 0;
  font-weight: bold;
}
.description {
  padding-bottom: 1rem;
}

button {
  background: green;
  padding: 0.4rem 2rem;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
}
